img{
    max-width: 100%;
    max-height: 100%;
    padding: 0px;
}

.box{
    position: relative;
    padding: 0px;
}

.box .btn {
    position: absolute;
    bottom: 0.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #303030;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.box .btn:hover {
    background-color: #425C5A;
}

@media (max-width: 200px) {
    .box .btn {

    }
}


